<footer class="bg-success py-3 text-white">


    <div class="d-flex flex-wrap flex-md-row justify-content-center container" style="gap: 2rem">
        <div class="footer_one flex-grow-1 flex-md-grow-0">
            <h3 class="text-center">Contact Info</h3>
            <ul style="list-style: none">
                <li><i class="bi bi-telephone-fill"></i> 085317765140</li>
                <li><i class="bi bi-envelope-fill"></i> sigarangbm@gmail.com</li>
                <li><i class="bi bi-house-fill"></i> Serule Kayu, Kec. Bukit, Kabupaten Bener Meriah, Aceh 24582</li>
            </ul>
        </div>
        <div class="footer_two flex-grow-1 flex-md-grow-0">
            <h3 class="text-center">Sosial Media</h3>
            <ul style="list-style: none">
                <li>
                    <i class="bi bi-instagram"></i>
                    <a href="https://www.instagram.com/disdagkab.bener" class="text-decoration-none text-white" target="_blank">
                        @disdagkab.bener
                    </a>
                </li>
                <li>
                    <i class="bi bi-facebook"></i>
                    <a href="https://www.facebook.com/disdag.benermeriah" class="text-decoration-none text-white" target="_blank">
                        Disdag Kabupaten Bener Meriah
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="text-center">Copyright &copy; 2023 | SIBAPOKTING</p>
</footer>