{% extends 'visitor/layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

     <div class="container">
        <h1 class="text-success mb-4 text-center text-uppercase">AGEN LPG</h1>
        <form method="get" class="mb-4">
            <div class="row mb-2">
                <div class="col-12 col-sm-6 col-lg-4">
                    <input type="text" autocomplete="off" value="{{ request.GET.name }}" name="name" class="form-control" placeholder="Cari Agen LPG" aria-label="Cari Agen LPG">
                </div>
            </div>
            <button class="btn btn-primary px-4">Cari</button>
            {% if user.is_authenticated %}
                <a href="{% url 'visitor:export_agen' %}" class="btn-success btn px-4">Export Excel</a>
            {% endif %}
        </form>
        <div class="row g-2 mb-5">
            {% for object in object_list %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <a href="{% url 'visitor:agen_detail' object.agen_slug %}" class="card h-100 text-decoration-none" style="cursor: pointer;">
                        <img src="{{ object.agen_image.url }}" width="100%" height="200px" class="card-img-top object-fit-cover" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.agen_name }}</h5>
                            <p class="card-text">{{ object.agen_address | truncatewords:15 }}</p>
                        </div>
                        <span class="card-footer border-0">
                            <small class="text-body-secondary">{{ object.agen_created|naturalday }}</small>
                        </span>
                    </a>
                </div>
            {% empty %}
                <div class="text-center text-secondary">
                    <i class="bi bi-file-earmark-x fs-1"></i>
                    <h1>Data Tidak Ditemukan</h1>
                </div>
            {% endfor %}
        </div>


        {% if is_paginated %}
            <nav aria-label="Page navigation UKM">
                <ul class="pagination justify-content-end">
                    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                        <a class="page-link" href="?name={{ request.GET.name|urlencode }}&page=1" aria-label="Previous">
                            <i class="bi bi-chevron-double-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?name={{ request.GET.name|urlencode }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <i class="bi bi-chevron-left" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?name={{ request.GET.name|urlencode }}&page=1" aria-label="Previous">
                                <i class="bi bi-chevron-left" aria-hidden="true"></i>
                            </a>
                        </li>
                     {% endif %}


                    <li class="page-item">
                        <span class="page-link">
                            {{ page_obj.number }} of {{ paginator.num_pages }}
                        </span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?name={{ request.GET.name|urlencode }}&page={{ page_obj.next_page_number }}" aria-label="Next">
                                <i class="bi bi-chevron-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?name={{ request.GET.name|urlencode }}&page={{ paginator.num_pages }}" aria-label="Next">
                                <i class="bi bi-chevron-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %} ">
                        <a class="page-link" href="?name={{ request.GET.name|urlencode }}&page={{ paginator.num_pages }}" aria-label="Next">
                            <i class="bi bi-chevron-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}

    </div>
{% endblock %}