{% extends 'visitor/layouts/base.html' %}
{% load static %}

{% block content %}

<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.cursor-pointer {
    cursor: pointer;
}
</style>

    <div class="container">

        <h1 class="text-center text-success mb-3">HARGA SEMBAKO</h1>


        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row mb-3" style="row-gap: 1rem">
                    <div class="col-12 col-lg-3">
                        <select class="form-select" aria-label="select nama sembako" id="name-sembako"></select>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-6">
                                <input type="date" class="form-control" id="start-date">
                            </div>
                            <div class="col-6">
                                <input type="date" class="form-control" id="end-date">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <button id="search-statistic" class="btn btn-primary px-4">Cari</button>
                    </div>
                </div>
                <div id="sembako-chart"></div>
            </div>

            <div class="col-12 col-md-6">


                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="search-input"
                                   placeholder="Cari Nama Sembako">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" id="search-button" class="btn btn-primary px-4 mb-3 w-100">Cari</button>
                            </div>
                            <div class="col-6">
                            {% if user.is_authenticated %}
                                <a href="{% url 'visitor:excel_sembako' %}" class="btn btn-primary mb-3 w-100">Export Excel</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>



        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-success">
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center" style="white-space: nowrap">Nama Variant</th>
                        <th class="text-center" style="white-space: nowrap">Kuantitas</th>
                        <th class="text-center" style="white-space: nowrap">Satuan</th>
                        <th class="text-center" style="white-space: nowrap">Kemarin</th>
                        <th class="text-center" style="white-space: nowrap">Hari ini</th>
                        <th class="text-center" style="white-space: nowrap">Statistik</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <li class="page-item page-link cursor-pointer" id="prev-page">
                <span aria-hidden="true">&laquo;</span>
            </li>
            <li class="page-item ">
                <input type="number" style="width: 56px" id="pagination-val" class="page-link text-center">
            </li>
            <li class="page-item page-link">of</li>
            <li class="page-item page-link" id="last-page"></li>
            <li class="page-item page-link cursor-pointer" id="next-page">
                <span aria-hidden="true">&raquo;</span>
            </li>
          </ul>
        </nav>
            </div>

        </div>





    </div>


{% endblock %}

{% block script %}
<script src="{% static 'vendor/script/apexchart.js' %}"></script>

<script>
$(document).ready(function () {

    let row_data_sembako = []
    let row_data = []
    const graph_icon = {
        'up': '<i class="bi bi-caret-up-fill text-danger"></i>',
        'equal': '<i class="text-secondary fw-bold">=</i>',
        'down': '<i class="bi bi-caret-down-fill text-success"></i>'
    }
    let price_today = {}
    let price_lastday = {}

    const oneWeekFromToday = new Date();

    oneWeekFromToday.setDate(oneWeekFromToday.getDate() - 7);
    const formattedDate = oneWeekFromToday.toISOString().split('T')[0];

    const today = new Date();
    const formattedToday = today.toISOString().split('T')[0];

    $('#start-date').val(formattedDate);
    $('#end-date').val(formattedToday);

    $.ajax({
        url: {% url 'visitor:sembako' %},
        success: function (data) {
            row_data_sembako = data.data
            row_data = data

            $('#last-page').text(data.total_pages)
            $('#pagination-val').val(currentPage)


            row_data_sembako.forEach((item, index) => {
                $('#table-body').append(renderTableBody(item, index))
                $('#name-sembako').append(createOption(item.groceries_id, item.groceries_name))
                detailSembako(item, index)
                detailSembakoYesterday(item, index)
            })

            dataStatisticSembako()
        },
    })


    function detailSembako(sembako, index) {
        const url = '{% url "visitor:sembako" %}?id_sembako=' + encodeURIComponent(sembako.groceries_id)
        $.ajax({
            url: url,
            success: function (value) {
                const { data } = value

                const item = data[0] || {}
                const price = item.unit_groceries_price || 0

                price_today[sembako.groceries_name] = price
                renderStatistik(sembako.groceries_name)

                $(`#price${index}`).text(price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.'))
            },
        })
    }

    function detailSembakoYesterday(sembako, index) {
        const url = '{% url "visitor:sembako" %}?id_sembako=' + encodeURIComponent(sembako.groceries_id)
            + '&create=yesterday'
        $.ajax({
            url: url,
            success: function (value) {
                const { data } = value
                const price = data[0] ? data[0].unit_groceries_price : 0

                price_lastday[sembako.groceries_name] = price
                renderStatistik(sembako.groceries_name)

                $(`#price-yesterday${index}`).text(price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.'))
            }
        })
    }

    function renderTableBody(data, index) {
        let number = (currentPage - 1) * 10 + (index + 1)
        return `
            <tr>
                <td class="text-center">${number}</td>
                <td>${data.groceries_name}</td>
                <td id="quantity${index}" class="text-center">${data.groceries_quantity}</td>
                <td id="unit${index}" class="text-center">${data.groceries_massa}</td>
                <td id="price-yesterday${index}" class="text-center"></td>
                <td id="price${index}" class="text-center"></td>
                <td id="statistic-${data.groceries_name}" class="statistic text-center"></td>
            </tr>
        `
    }


    function renderStatistik(name) {
      const today = Object.keys(price_today).find(item => item === name)
      const yesterday = Object.keys(price_lastday).find(item => item === name)

      if (!(today && yesterday)) {
        return 0;
      }

      const price_now = price_today[name]
      const price_last = price_lastday[name]

      const icon = price_last > price_now ? 'down' : (price_now === price_last ? 'equal' : 'up');
      document.getElementById(`statistic-${name}`).innerHTML = graph_icon[icon]

    }

    let currentPage = 1;


    function updateTable(searchTerm, page) {
        $.ajax({
            url: '{% url "visitor:sembako" %}?nama_sembako=' + encodeURIComponent(searchTerm) + '&page=' + page,
            success: function (data) {
                row_data_sembako = data.data;
                row_data = data
                $('#table-body').empty();
                currentPage = page;
                row_data_sembako.forEach((item, index) => {
                    $('#table-body').append(renderTableBody(item, index));
                    detailSembako(item, index);
                    detailSembakoYesterday(item, index);
                });


                $('#pagination-val').val(currentPage)
                let totalPages = row_data.total_pages;
                $('#last-page').text(totalPages);


                updatePagination(data.total_pages);
            }
        });
    }

    function updatePagination(totalPages) {
        if (totalPages <= 1) {
            $('#prev-page').addClass('disabled');
            $('#next-page').addClass('disabled');
        } else {
            $('#prev-page').removeClass('disabled');
            $('#next-page').removeClass('disabled');
        }

        if (currentPage === 1) {
            $('#prev-page').addClass('disabled');
        } else {
            $('#prev-page').removeClass('disabled');
        }

        if (currentPage === totalPages) {
            $('#next-page').addClass('disabled');
        } else {
            $('#next-page').removeClass('disabled');
        }
    }

    $('#prev-page').click(function () {
        if (currentPage > 1) {
            updateTable($('#search-input').val(), currentPage - 1);
        }
    });

    $('#next-page').click(function () {
        if (currentPage < row_data.total_pages) {
            updateTable($('#search-input').val(), currentPage + 1);
        }
    });

   $('#pagination-val').change(function() {
      const newPage = parseInt($('#pagination-val').val());
      if (newPage >= 1 && newPage <= row_data.total_pages && newPage !== currentPage) {
        updateTable($('#search-input').val(), newPage);
      } else {
        $('#pagination-val').val(currentPage);
      }
   });

    $('#search-button').click(function () {
        const searchTerm = $('#search-input').val();
        currentPage = 1;
        updateTable(searchTerm, currentPage);
    });

    function dataStatisticSembako() {
    let id_sembako = $('#name-sembako').val()
    let start_date = $('#start-date').val()
    let end_date = $('#end-date').val()

    const url = '{% url "visitor:statistic-sembako" %}?id_sembako=' + encodeURIComponent(id_sembako) +
            '&start_date=' + encodeURIComponent(start_date) +
            '&end_date=' + encodeURIComponent(end_date);
    $.ajax({
        url: url,
        success: function (value) {
            const { data } = value
            let options = {
                chart: {
                    type: 'area'
                },
                series: [{
                    name: $('#name-sembako option:selected').text(),
                    data: data.map(item => item.unit_groceries_price)
                }],
                xaxis: {
                    categories: data.map(item => item.unit_groceries_created)
                },
            };

            if (window.chart) {
                window.chart.destroy();
            }

            const chart = new ApexCharts(document.querySelector("#sembako-chart"), options);
            chart.render();

            window.chart = chart;
        },
    })
}


    $('#search-statistic').click(() => {
        dataStatisticSembako()
    })

    function createOption(value, label) {
      return `<option value="${value}">${label}</option>`
    }
})



</script>

{% endblock %}