{% extends "visitor/layouts/base.html" %}

{% block navigation %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}

    <div class="d-flex min-vh-100 justify-content-center align-items-center flex-column">
        <div class="wrap text-center" style="width: 480px; text-wrap: balance">
            <i class="bi bi-check-circle-fill text-success" style="font-size: 5rem"></i>
            <h1 class="fs-4">Password Reset</h1>
            <p>Kata sandi Anda telah ditetapkan.  Anda dapat melanjutkan dan login sekarang.</p>
            <a href="{{ login_url }}" class="btn btn-primary">Log in</a>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}
