{% extends 'visitor/layouts/base.html' %}
{% load static %}

{% block navigation %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
    <div class="container d-flex min-vh-100 justify-content-center align-items-center flex-column" style="row-gap: 24px">
        <div class="d-flex" style="column-gap: 8px">
            <img src="{% static 'images/logo.png' %}" alt="logo SiGarang" width="32" height="32">
            <h1 class="fs-4">SIBAPOKTING</h1>
        </div>
        <div class="card" style="width: min(100%, 448px); padding: 20px">
            <div class="card-body">
                <h1 class="fs-5 fw-bold">Lupa kata sandi anda?</h1>
                <p>Jangan khawatir! Cukup masukkan email anda dan kami akan mengirimkan kode untuk mereset kata sandi anda!</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit" class="btn btn-primary mt-3 d-block w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
	<script>
        {% if messages  %}
            {% for message  in messages  %}
                notif("{{ message  }}")
            {% endfor %}
        {% endif %}
        function notif(message) {
            new Notify({
                status: 'success',
                title: 'Send Email',
                text: message,
                effect: 'slide',
                speed: 300,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: true,
                autoclose: true,
                autotimeout: 3000,
                gap: 20,
                distance: 20,
                type: 1,
                position: 'right top'
            })
        }
    </script>
{% endblock %}