{% extends 'visitor/layouts/base.html' %}
{% load static %}

{% block hero %}

{% endblock %}

{% block content %}
    <div class="container-md" style="margin-top: calc(3rem + 58px)" >
        <img src="{{ object.ukm_image.url }}" alt="Image UKM" class="d-block mx-auto ukm-image">

        <div class="table-responsive mt-5">
            <table class="table table-borderless table-hover">
                <tbody>
                    <tr>
                        <td class="text-nowrap">Nama Usaha</td>
                        <td>{{ object.ukm_name }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Nama Pemilik</td>
                        <td>{{ object.ukm_owner }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Jenis Product</td>
                        <td>{{ object.ukm_types_product }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Legalitas</td>
                        <td>{{ object.ukm_legality }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Outlet</td>
                        <td>{{ object.ukm_outlet }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Deskripsi</td>
                        <td>{{ object.ukm_description }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Alamat</td>
                        <td>{{ object.ukm_address }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Nomor Handphone</td>
                        <td>{{ object.ukm_number_phone }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Website</td>
                        {% if 'None' not in object.ukm_website %}
                            <td><a href="{{ object.ukm_website }}" target="_blank">{{ object.ukm_website }}</a></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="text-nowrap">Sosial Media</td>
                        {% if 'None' not in object.ukm_social_media %}
                            <td><a href="{{ object.ukm_social_media }}" target="_blank">{{ object.ukm_social_media }}</a></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}