{% load static %}
<div class="border-end border-success bg-success-subtle" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom text-white bg-success d-flex align-items-center gap-2">
        <img src="{% static 'images/logo.png' %}" alt="logo bener meriah" width="38px">
        <p class="m-0 fw-medium">SIGARANG</p>
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-success p-3" href="#!">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-success p-3" href="#!">Data Member</a>
        <a class="list-group-item list-group-item-action list-group-item-success p-3" href="#!">Harga Sembako</a>
        <a class="list-group-item list-group-item-action list-group-item-success p-3" href="#!">UKM</a>
        <a class="list-group-item list-group-item-action list-group-item-success p-3" href="#!">IKM</a>
    </div>
</div>